{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Die proSystem Ingenieurbau GmbH, verantwortlich für diese Schulungswebsite wurde im Jahre 2000 mit dem Ziel der Beratung im Bereich Daten- und Projektmanagement und des Softwareentwicklung und – vertrieb gegründet.<br />
    In diesem Zusammenhang wurde neben individuellen Softwarelösungen auch  die offizielle Prüfsoftware der DWA für Kanalinspektionsdateien programmiert, der Vorgänger dieser Website.<br />
    Seit nunmehr 30 Jahren beschäftigt sich der Gründer Dipl. – Ing. Jörg Otterbach mit den Möglichkeiten des digitalen Infrastrukturmanagements und insbesondere mit der praxisnahen Umsetzung von Kanal- und Graphischen Informationssystemen in der kommunalen Wirtschaft. <br />
    Dieses war gerade in den Anfängen der Digitalisierung eng mit der Durchführung der Kanalinspektionen in Deutschland gekoppelt, als große Datenmenge verarbeitet werden mussten.<br />
    Gerade durch diese von Beginn an begleitende und langjährige Erfahrung erfolgte jetzt der Schritt von der ursprünglichen Softwareentwicklung hin zur Beratung und Projektumsetzung im digitalen Infrastrukturmanagements.</p>

{% endblock %}
