{% extends "app/damages.html" %}

{% load static %}
{% block catalogue %}

<!--In diesem HTML Doc wird der Schadenskatalog mit "Treeview" wie im alten KI Expert dargestellt.
    Hierbei werden die einzelnen Container genutzt, um eine angemessene Darstellung zu wählen.
    In den einzelnen Bereichen sind anschließend, durch Variablen aus der views.py die Daten aus der
    Datenbank entsprechend dem ausgewählten Kode dargestellt.
    Die einzelnen Klassenelement sind im CSS erstellt und dienen der einheitlichen Darstellung.-->

<div class="damages-container1 thq-card">
    <h4 class="damages-text">
        <span>Beschreibung</span>
    </h4>
    <div class="damages-catalogue-container section-padding damages-catalogue-root-class-name">
    <div class="damages-catalogue-container1">
        <div class="damages-catalogue-container2" id="Kode">
            <label class="damages-catalogue-text"><span>Kode</span></label>
                <span class="damages-catalogue-text01">{{ en_filtrd }}</span>
        </div>
        <div class="damages-catalogue-container3" id="Kurztext">
            <label class="damages-catalogue-text02"><span>Kurztext</span></label>
            <span class="damages-catalogue-text03"><span>{{ kurztext }}</span></span>
        </div>
    </div>
    <div class="damages-catalogue-container4" id="Beschreibung">
        <div class="damages-catalogue-container5">
            <label class="damages-catalogue-text04">
                <span>Beschreibung</span>
                <br />
            </label>
            <span class="damages-catalogue-text07"> {{ beschreibung }} <span>
        </div>
    </div>
    {% if en_c1_bo == "True" %} <!--Hierdurch wird sichergestellt, dass es eine Charaktersierung 1 gibt.-->
    <div class="damages-catalogue-container6">
        <label class="damages-catalogue-text14">Charakterisierung 1</label>
        <span class="damages-catalogue-text15">
            <span>{{ en_c1_be }}</span>
            {% for items in en_c1_text %}
                {% if items.enc1_lang != "" %}
                    <br><span>{{ items.enc1_kurz }} - {{ items.enc1_text }} - {{ items.enc1_lang }}</span>
                {% else %}
                    <br><span>{{ items.enc1_kurz }} - {{ items.enc1_text }}</span>
                {% endif %}
            {% endfor %}
        </span>
    </div>
    {% endif %}
    {% if en_c2_bo == "True" %} <!--Hierdurch wird sichergestellt, dass es eine Charaktersierung 2 gibt.-->
    <div class="damages-catalogue-container6">
        <label class="damages-catalogue-text14">Charakterisierung 2</label>
        <span class="damages-catalogue-text15">
                <span>{{ en_c2_be }}</span>
                    {% for items in en_c2_text %}
                        {% if items.enc2_lang != "" %}
                            <br><span>{{ items.enc2_kurz }} - {{ items.enc2_text }} - {{ items.enc2_lang }}</span>
                        {% else %}
                            <br><span>{{ items.enc2_kurz }} - {{ items.enc2_text }}</span>
                        {% endif %}
                    {% endfor %}
        </span>
    </div>
    {% endif %}
    {% if en_q1_bo == "True" %} <!--Hierdurch wird sichergestellt, dass es eine Charaktersierung 2 gibt.-->
    <div class="damages-catalogue-container7">
        <label class="damages-catalogue-text21">Quantifizierung 1</label>
        <span class="damages-catalogue-text15">
                    {% for items in en_q1_text %}
                            <span>{{ items.enq1_lang }}</span> <!--Der Text ist leider noch nicht richtig formatiert, hier muss noch rangegangen werden.-->
                    {% endfor %}
        </span>
    </div>
    {% endif %}
    {% if en_q2_bo == "True" %} <!--Hierdurch wird sichergestellt, dass es eine Charaktersierung 2 gibt.-->
    <div class="damages-catalogue-container7">
        <label class="damages-catalogue-text21">Quantifizierung 2</label>
        <span class="damages-catalogue-text15">
                    {% for items in en_q2_text %}
                            <span>{{ items.enq2_lang }}</span> <!--Der Text ist leider noch nicht richtig formatiert, hier muss noch rangegangen werden.-->
                    {% endfor %}
        </span>
    </div>
    {% endif %}
    {% if en_lage != "" %}
    <div class="damages-catalogue-container7">
        <label class="damages-catalogue-text23">Lage am Umfang</label>
        <span class="damages-catalogue-text24">
            {{ en_lage }}
        </span>
    </div>
    {% endif %}
    {% if en_sa_bo == "True" %}
    <div class="damages-catalogue-container7">
        <button class="damages-catalogue-text15 btn" style="background-color: #007dc5; color: #ffffff" onclick="window.open('{% url 'stdAnmerkung' kodes %}', '_blank', 'toolbar=yes,scrollbars=yes,resizable=no,top=100,left=100,width=800,height=700')">standartisierte Anmerkung anzeigen</button> <!---->
    </div>
    {% endif %}
</div>


{% endblock %}

{% block pictures %}
    {% if enb_bilder|length > 0 %}
    <div class="damages-container image-grid">        
        {% for beispiel in enb_bilder %}
            <div class="image-grid-item">
                <a href="{% url 'pic_fullscreen' beispiel.enb_id %}" class="hidden-link">
                    <img alt="{{ beispiel.enb_bild }}" src="{% static 'app/content/Schadensbilder/' %}{{ beispiel.enb_bild }}" class="image-grid-item">
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block videos %}
    <div class="damages-container image-grid">
        {% for videos in envb_video %}
            <div class="image-grid-item">
                <a href="{% url 'vid_fullscreen' videos.env_id %}" class="hidden-link">
                    <img src="{% static 'app/content/Schadensvideos/' %}{{ videos.env_bild }}" class="image-grid-item">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

