{% extends "app/layout.html" %}

{% block content %}
{% load static %}
<style>
    .hidden-link {
        text-decoration: none;
        color: inherit;
    }
    .hidden-link:hover {
        text-decoration: none;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid blue;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<h3 style="text-align:left;">{{ message }}</h3>

<p>Hier ist der Schadenskatalog zu finden.</p>

<div class="row" id="treeview">
    <div class="col-sm-4">
        <div class="damages-container section-padding">
                <ul>
                    <li>
                        <details>
                            <summary>Kodes zu Leitungen</summary>
                            <ul>    
                            {% for kapitel in en_kode_kapitel %}
                            {% if kapitel.enkap_titel == 'B' %}
                            <li>
                                <details>
                                    <summary>{{ kapitel.enkap_kurz }} {{ kapitel.enkap_lang }}</summary>
                                    <ul>
                                        {% for kodes in en_hauptkode %}
                                        {% if kapitel.enkap_id == kodes.en_child %}
                                        <li> 
                                            <a class="hidden-link" href="{% url 'clicked_kode' kodes.en_id %}">{{ kodes.en_hauptkode }} {{ kodes.en_lang }}</a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </details>
                            </li>
                            {% endif %}
                            {% endfor %}
                            </ul>
                        </details>
                    </li>
                <li>
                    <details>
                        <summary>Kodes zu Knoten</summary>
                        <ul>
                            {% for kapitel in en_kode_kapitel %}
                            {% if kapitel.enkap_titel == 'D' %}
                            <li>
                                <details>
                                    <summary>{{ kapitel.enkap_kurz }} {{ kapitel.enkap_lang }}</summary>
                                    <ul>
                                        {% for kodes in en_hauptkode %}
                                        {% if kapitel.enkap_id == kodes.en_child %}
                                        <li> 
                                            <a class="hidden-link" href="{% url 'clicked_kode' kodes.en_id %}">{{ kodes.en_hauptkode }}                 {{ kodes.en_lang }}</a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </details>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </details>
                </li>
                </ul>
        </div>
        <div>
            {% block pictures %}
            {% endblock %}
        </div>
    </div>
    <div class="col-sm-8">
        {% block catalogue %}
        <div class="damages-container1 section-padding">
            <div class="col-sm-8 text-center">
                <h2>{{ title }}</h2>
                <img alt="LI Inspector" src="{% static 'app/content/Logo_DWA.png' %}" width="100" height="45">
                <h4 style="font-weight: bold; margin-top: 40px;">Digitaler Schadenskatalog</h4>
                <p>nach DWA M 149-2:2013</p>
            </div>
    	</div>
        {% endblock %}
    </div>
</div>
{% endblock %}
