{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>LI Inspektor</h1>
    <p class="lead">Der LI Inspektor ist eine Schulungswebsite, die dazu dient das Kodiersystem für die optische Inspektion nach DIN EN 13508-2 und DWA-M 149-2 zu erklären und zu lernen.
        Die Schulungswebsite wurde speziell für die Unterstützung bei der Durchführung von Kanalinspektionen nach dem aktuellstem Regelwerk entwickelt. 
        Hierbei unterstützt die Website bei der korrekten Anwendung der Kodierung, Datenprüfung- und Bearbeitung sowie Klassifizierung von Bewertungen.
    </p>
    <p class="lead">Die vorherige Software, der Kanalinspektions-Expert, soll dadurch ersetzt werden.</p>
    <p><a href="https://de.dwa.de/de/kanalinspektions-expert.html" class="btn btn-primary btn-large" target="_blank">Mehr dazu &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Erste Schritte</h2>
        <p>
            Die Schulungswebsite kann nur mit einer erworbenen Lizenz genutzt werden. Diese kann über die DWA Website oder gebuchte Weiterbildungen erworben werden.
            Sobald eine Lizenz erworben wurde, können Sie sich hier Registrieren und die Website nutzen.
        </p>
        <p><a class="btn btn-default" href="">Registrieren &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kodierungskatalog</h2>
        <p>Im Kodierungskatalog sind die Kodes für die optische Inspektion zu finden. 
            Der Hauptkode, Beschreibung des Kodes, sowie zusätzliche Informationen könen hier eingesehen werden.</p>
        <p><a class="btn btn-default" href="{% url 'damages' %}">Zum Bildkatalog &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bildkatalog</h2>
        <p>Der Bildkatalog dient als Überblick über alle Schadensbilder, die in der Datenbank hinterlegt sind. 
            Über die einzelnen Bilder kann dann auf den passenden Kode zugegiffen werden.</p>
        <p><a class="btn btn-default" href="{% url 'bildkatalog' %}">Bildkatalog &raquo;</a></p>
    </div>
</div>

{% endblock %}
