{% extends "app/layout.html" %}

{% load static %}
{% block scripts %}
<script>
const gallery = document.querySelector('.gallery');
const mainImage = document.querySelector('#main-image');
const nextBtn = document.querySelector('#next-btn');
const imageList = document.querySelector('#image-list');
const images = imageList.querySelectorAll('li');

let currentIndex = 0;

nextBtn.addEventListener('click', () => {
  currentIndex++;
  if (currentIndex >= images.length) {
    currentIndex = 0;
  }
  updateMainImage();
});

function updateMainImage() {
  const currentImage = images[currentIndex].querySelector('img');
  mainImage.src = currentImage.src;
  mainImage.alt = currentImage.alt;
    }

</script>
{% endblock %}

{% block content %}

<div class="damages-container">
<div class="gallery">
    <div class="main-image">
        <img alt="{{ enb_bilder }}" src="{% static 'app/content/Schadensbilder/' %}{{ enb_bilder }}" class="image-grid-item" oncontextmenu="return false;" id="main-image">
    </div>

    <button class="nav-btn" id="next-btn">Nachstes Bild</button>

    <ul class="image-list" id="image-list" style="display: none;">
        {% for pictures in enids %}
        <li><img src="{% static 'app/content/Schadensbilder/' %}{{pictures.enb_bild}}" alt="{{ pictures.enb_bild }}"></li>
        {% endfor %}
    </ul>
</div>

<table>
    <tr>
        <th>Kode</th>
        <th>Char 1</th>
        <th>Char 2</th>
        <th>St. Anm</th>
        <th>Quant 1</th>
        <th>Quant 2</th>
        <th>Verb.</th>
        <th>Lage 1</th>
        <th>Lage 2</th>
        <th>Text</th>
        <th>Anmerkung</th>
    </tr>
    <tr>
        <td>{{ enids }}</td>
        <td>A</td>
        <td>A</td>
        <td></td>
        <td></td>
        <td></td>
        <td>A</td>
        <td>10</td>
        <td>00</td>
        <td>Einragendes Dichtungsmaterial, Dichtring, sichtbar verschoben, jedoch nicht in die Rohrleitung hineinragend</td>
        <td></td>

    </tr>

</table>
</div>
  {% endblock %}